In [2]:
import pandas as pd
import numpy as np

In [2]:
mylist = [['adidas', 'Fila', 'Under Armour'],
      ['Nike', 'Lacoste', 'New Balance', 'Pony'],
      ['adidas', 'Pony', 'Under Armour'],
      ['adidas', 'New Balance', 'Fila'],
      ['Lacoste', 'Pony'],
      ['adidas', 'New Balance', 'Pony'],
      ['Nike', 'New Balance', 'Fila'],
      ['Nike', 'Lacoste', 'Fila'],
      ['adidas', 'Lacoste', 'Fila'],
      ['Nike', 'Lacoste', 'Fila']]
mylist

[['adidas', 'Fila', 'Under Armour'],
 ['Nike', 'Lacoste', 'New Balance', 'Pony'],
 ['adidas', 'Pony', 'Under Armour'],
 ['adidas', 'New Balance', 'Fila'],
 ['Lacoste', 'Pony'],
 ['adidas', 'New Balance', 'Pony'],
 ['Nike', 'New Balance', 'Fila'],
 ['Nike', 'Lacoste', 'Fila'],
 ['adidas', 'Lacoste', 'Fila'],
 ['Nike', 'Lacoste', 'Fila']]

In [3]:
print(type(mylist))
print(len(mylist))

<class 'list'>
10

In [4]:
print(mylist[0])
print(mylist[1])
print(mylist[4])
print(mylist[4][0])
print(mylist[4][1])
print(mylist[-1])
print(mylist[-1][-1])
print(mylist[1][0])
print(mylist[1][0:3])
print(mylist[1][:3])
print(mylist[1][2:])

['adidas', 'Fila', 'Under Armour']
['Nike', 'Lacoste', 'New Balance', 'Pony']
['Lacoste', 'Pony']
Lacoste
Pony
['Nike', 'Lacoste', 'Fila']
Fila
Nike
['Nike', 'Lacoste', 'New Balance']
['Nike', 'Lacoste', 'New Balance']
['New Balance', 'Pony']

In [5]:
mylist.append(['PUMA'])
mylist

[['adidas', 'Fila', 'Under Armour'],
 ['Nike', 'Lacoste', 'New Balance', 'Pony'],
 ['adidas', 'Pony', 'Under Armour'],
 ['adidas', 'New Balance', 'Fila'],
 ['Lacoste', 'Pony'],
 ['adidas', 'New Balance', 'Pony'],
 ['Nike', 'New Balance', 'Fila'],
 ['Nike', 'Lacoste', 'Fila'],
 ['adidas', 'Lacoste', 'Fila'],
 ['Nike', 'Lacoste', 'Fila'],
 ['PUMA']]

In [6]:
mylist.remove(['PUMA'])
mylist

[['adidas', 'Fila', 'Under Armour'],
 ['Nike', 'Lacoste', 'New Balance', 'Pony'],
 ['adidas', 'Pony', 'Under Armour'],
 ['adidas', 'New Balance', 'Fila'],
 ['Lacoste', 'Pony'],
 ['adidas', 'New Balance', 'Pony'],
 ['Nike', 'New Balance', 'Fila'],
 ['Nike', 'Lacoste', 'Fila'],
 ['adidas', 'Lacoste', 'Fila'],
 ['Nike', 'Lacoste', 'Fila']]

In [3]:
!pip install mlxtend

Defaulting to user installation because normal site-packages is not writeable
Collecting mlxtend
  Downloading mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.7.3)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (61.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.5.1)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.0.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.21.0

In [3]:
import mlxtend

In [8]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(mylist).transform(mylist)
te_ary

array([[ True, False, False, False, False,  True,  True],
       [False,  True,  True,  True,  True, False, False],
       [False, False, False, False,  True,  True,  True],
       [ True, False,  True, False, False, False,  True],
       [False,  True, False, False,  True, False, False],
       [False, False,  True, False,  True, False,  True],
       [ True, False,  True,  True, False, False, False],
       [ True,  True, False,  True, False, False, False],
       [ True,  True, False, False, False, False,  True],
       [ True,  True, False,  True, False, False, False]])

In [5]:
te_ary.astype('int')

array([[1, 0, 0, 0, 0, 1, 1],
       [0, 1, 1, 1, 1, 0, 0],
       [0, 0, 0, 0, 1, 1, 1],
       [1, 0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 1, 0, 0, 0],
       [1, 1, 0, 1, 0, 0, 0],
       [1, 1, 0, 0, 0, 0, 1],
       [1, 1, 0, 1, 0, 0, 0]])

In [9]:
te.columns_

['Fila', 'Lacoste', 'New Balance', 'Nike', 'Pony', 'Under Armour', 'adidas']

In [10]:
df = pd.DataFrame(te_ary, columns = te.columns_)
df

    Fila  Lacoste  New Balance   Nike   Pony  Under Armour  adidas
0   True    False        False  False  False          True    True
1  False     True         True   True   True         False   False
2  False    False        False  False   True          True    True
3   True    False         True  False  False         False    True
4  False     True        False  False   True         False   False
5  False    False         True  False   True         False    True
6   True    False         True   True  False         False   False
7   True     True        False   True  False         False   False
8   True     True        False  False  False         False    True
9   True     True        False   True  False         False   False

In [11]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support = 0.3)

   support itemsets
0      0.6      (0)
1      0.5      (1)
2      0.4      (2)
3      0.4      (3)
4      0.4      (4)
5      0.5      (6)
6      0.3   (0, 1)
7      0.3   (0, 3)
8      0.3   (0, 6)
9      0.3   (1, 3)

In [12]:
frequent_itemsets = apriori(df, min_support = 0.3, use_colnames = True)
frequent_itemsets

   support         itemsets
0      0.6           (Fila)
1      0.5        (Lacoste)
2      0.4    (New Balance)
3      0.4           (Nike)
4      0.4           (Pony)
5      0.5         (adidas)
6      0.3  (Lacoste, Fila)
7      0.3     (Fila, Nike)
8      0.3   (Fila, adidas)
9      0.3  (Lacoste, Nike)

In [13]:
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x:len(x))
frequent_itemsets

   support         itemsets  length
0      0.6           (Fila)       1
1      0.5        (Lacoste)       1
2      0.4    (New Balance)       1
3      0.4           (Nike)       1
4      0.4           (Pony)       1
5      0.5         (adidas)       1
6      0.3  (Lacoste, Fila)       2
7      0.3     (Fila, Nike)       2
8      0.3   (Fila, adidas)       2
9      0.3  (Lacoste, Nike)       2

In [14]:
frequent_itemsets[(frequent_itemsets['length'] >= 2) & (frequent_itemsets['support'] >= 0.3)]

   support         itemsets  length
6      0.3  (Lacoste, Fila)       2
7      0.3     (Fila, Nike)       2
8      0.3   (Fila, adidas)       2
9      0.3  (Lacoste, Nike)       2

In [15]:
frequent_itemsets[frequent_itemsets['itemsets'] == {'Nike', 'Lacoste'}]

   support         itemsets  length
9      0.3  (Lacoste, Nike)       2

In [16]:
fname = 'Nike'
frequent_itemsets[frequent_itemsets['itemsets'].astype(str).str.title().str.contains(fname)]

   support         itemsets  length
3      0.4           (Nike)       1
7      0.3     (Fila, Nike)       2
9      0.3  (Lacoste, Nike)       2

In [ ]:
# 只要有eggs的都顯示
#fname = 'eggs'
#frequent_itemsets[frequent_itemsets['itemsets'].astype(str).str.lower().str.contains(fname)]
#https://ithelp.ithome.com.tw/articles/10194852
#title() 讓字串第一個字為大寫
#type(frequent_itemsets)
#type(frequent_itemsets['itemsets'][0])
# 只要有Nike的都顯示
#fname = 'Nike'
#frequent_itemsets[frequent_itemsets['itemsets'].astype(str).str.title().str.contains(fname)]

In [17]:
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets, metric = 'confidence', min_threshold = 0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Nike),(Fila),0.4,0.6,0.3,0.75,1.25,0.06,1.6
1,(Nike),(Lacoste),0.4,0.5,0.3,0.75,1.50,0.10,2.0

In [18]:
rules = association_rules(frequent_itemsets, metric = 'lift', min_threshold = 1.2)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Fila),(Nike),0.6,0.4,0.3,0.50,1.25,0.06,1.2
1,(Nike),(Fila),0.4,0.6,0.3,0.75,1.25,0.06,1.6
2,(Lacoste),(Nike),0.5,0.4,0.3,0.60,1.50,0.10,1.5
3,(Nike),(Lacoste),0.4,0.5,0.3,0.75,1.50,0.10,2.0

In [16]:
rules = association_rules(frequent_itemsets, metric = 'lift', min_threshold = 1.3)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Lacoste),(Nike),0.5,0.4,0.3,0.60,1.5,0.1,1.5
1,(Nike),(Lacoste),0.4,0.5,0.3,0.75,1.5,0.1,2.0

In [19]:
rules['antecedent_len'] = rules['antecedents'].apply(lambda x:len(x))
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Fila),(Nike),0.6,0.4,0.3,0.50,1.25,0.06,1.2,1
1,(Nike),(Fila),0.4,0.6,0.3,0.75,1.25,0.06,1.6,1
2,(Lacoste),(Nike),0.5,0.4,0.3,0.60,1.50,0.10,1.5,1
3,(Nike),(Lacoste),0.4,0.5,0.3,0.75,1.50,0.10,2.0,1

In [18]:
rules[(rules['antecedent_len'] >= 1) & (rules['confidence'] >= 0.7) & (rules['lift'] >= 1.2)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
1,(Nike),(Lacoste),0.4,0.5,0.3,0.75,1.5,0.1,2.0,1

In [19]:
rules[rules['antecedents'] == {'Nike'}]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
1,(Nike),(Lacoste),0.4,0.5,0.3,0.75,1.5,0.1,2.0,1

真實交易資料

In [4]:
original_data = pd.read_csv('associationrule_Ex1.csv')
original_data

       shopping_cart goods
0                  1    A4
1                  2    A3
2                  3    A7
3                  4    A3
4                  5    A2
...              ...   ...
93709          78119    A7
93710          78120    A2
93711          78120    A4
93712          78121    A5
93713          78122    A1

[93714 rows x 2 columns]

In [22]:
type(original_data)

pandas.core.frame.DataFrame

In [23]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93714 entries, 0 to 93713
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   shopping_cart  93714 non-null  int64
 1   goods          93714 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.4+ MB

In [24]:
a = [1,2,3,4,5]
b = ['x','xx','xxx','xxxx','xxxxx']
print(list(zip(a,b)))

[(1, 'x'), (2, 'xx'), (3, 'xxx'), (4, 'xxxx'), (5, 'xxxxx')]

In [25]:
for t in zip(a,b):
   print(t)
print()

print(type(t))
print()

for i, j in zip(a,b):
   print(i)
   print(j)
print()

print(type(i))
print(type(j))

(1, 'x')
(2, 'xx')
(3, 'xxx')
(4, 'xxxx')
(5, 'xxxxx')

<class 'tuple'>

1
x
2
xx
3
xxx
4
xxxx
5
xxxxx

<class 'int'>
<class 'str'>

In [26]:
a = [1,2,3,4,5,1,1,4,5,3,4,3]
b = ['x','xx','xxx','xxxx','xxxxx','xxx','xxxx','x','xx','xxxxx','xx','xx']

sc = []
data = []

for i, j in zip(a, b):
    if i not in sc:
        sc.append(i)
        data.append([])
    data[sc.index(i)].append(j)

print(sc)
print(data)

[1, 2, 3, 4, 5]
[['x', 'xxx', 'xxxx'], ['xx'], ['xxx', 'xxxxx', 'xx'], ['xxxx', 'x', 'xx'], ['xxxxx', 'xx']]

In [ ]:
#print(oringinal_data.head(10))
#print(oringinal_data.tail(10))
#oringinal_data.iloc[3]     #取出第四筆資料
#print(oringinal_data.iloc[3])
#oringinal_data.iloc[[0,4]]   #取出第一筆與第五筆資料
#oringinal_data.iloc[0:3, 0:2] #取出一個區塊(row_idx = 0, 1, 2 and col_idx = 0, 1)
#oringinal_data.iloc[0:4, :]  #根據row index選擇
#oringinal_data.iloc[:, 0:2]  #根據column index選擇

In [5]:
sc = []
data = []

for i, j in zip(original_data["shopping_cart"], original_data["goods"]):
    if i not in sc:
        sc.append(i)
        data.append([])
    data[sc.index(i)].append(j)

data

[['A4'],
 ['A3'],
 ['A7'],
 ['A3'],
 ['A2', 'A1'],
 ['A7'],
 ['A2'],
 ['A1'],
 ['A5'],
 ['A2', 'A1'],
 ['A1', 'A1'],
 ['A6'],
 ['A6', 'A3'],
 ['A6'],
 ['A3'],
 ['A6'],
 ['A5'],
 ['A6', 'A7'],
 ['A2'],
 ['A3', 'A1'],
 ['A1', 'A7'],
 ['A1'],
 ['A7'],
 ['A7'],
 ['A7', 'A5', 'A3'],
 ['A1'],
 ['A1', 'A3'],
 ['A1'],
 ['A5'],
 ['A3', 'A3'],
 ['A5'],
 ['A5'],
 ['A3', 'A3'],
 ['A1'],
 ['A4'],
 ['A3', 'A3'],
 ['A7'],
 ['A7'],
 ['A4'],
 ['A1'],
 ['A1'],
 ['A4'],
 ['A3'],
 ['A6'],
 ['A5'],
 ['A3'],
 ['A5'],
 ['A5'],
 ['A1'],
 ['A1'],
 ['A1'],
 ['A5'],
 ['A3'],
 ['A1'],
 ['A1', 'A5'],
 ['A5', 'A1'],
 ['A5', 'A3'],
 ['A7'],
 ['A1'],
 ['A5'],
 ['A1'],
 ['A6'],
 ['A7', 'A3'],
 ['A7'],
 ['A2'],
 ['A5'],
 ['A1'],
 ['A5'],
 ['A7'],
 ['A7'],
 ['A1', 'A5'],
 ['A6'],
 ['A5'],
 ['A1'],
 ['A1'],
 ['A1'],
 ['A1', 'A1'],
 ['A6', 'A7', 'A4', 'A1'],
 ['A5'],
 ['A1'],
 ['A2'],
 ['A3'],
 ['A5'],
 ['A7'],
 ['A7'],
 ['A1'],
 ['A1'],
 ['A1'],
 ['A2', 'A3'],
 ['A5'],
 ['A5'],
 ['A1', 'A4'],
 ['A5'],
 ['A1', 'A1'],
 ['A5'],
 ['A1', 'A6'],
 ['A1'],
 ['A6'],
 ['A5'],
 ['A3'],
 ['A7', 'A3', 'A5'],
 ['A1'],
 ['A3'],
 ['A5', 'A3'],
 ['A7'],
 ['A3'],
 ['A6'],
 ['A5'],
 ['A5'],
 ['A2', 'A5'],
 ['A5'],
 ['A2'],
 ['A5'],
 ['A7'],
 ['A5'],
 ['A2', 'A1'],
 ['A5'],
 ['A5'],
 ['A4'],
 ['A6', 'A6'],
 ['A1'],
 ['A2', 'A1'],
 ['A2', 'A1'],
 ['A1'],
 ['A3'],
 ['A1'],
 ['A4', 'A5'],
 ['A7'],
 ['A5'],
 ['A2'],
 ['A1'],
 ['A1', 'A5'],
 ['A2', 'A3'],
 ['A1'],
 ['A5'],
 ['A5'],
 ['A1', 'A1'],
 ['A5'],
 ['A6'],
 ['A6'],
 ['A3'],
 ['A5', 'A1', 'A3'],
 ['A1'],
 ['A7'],
 ['A7'],
 ['A2'],
 ['A7'],
 ['A5'],
 ['A7'],
 ['A5'],
 ['A1'],
 ['A6'],
 ['A1'],
 ['A5', 'A5'],
 ['A1', 'A1'],
 ['A2'],
 ['A6', 'A6'],
 ['A3'],
 ['A1'],
 ['A5'],
 ['A5'],
 ['A7'],
 ['A6'],
 ['A1'],
 ['A5'],
 ['A1'],
 ['A5'],
 ['A6'],
 ['A6'],
 ['A2', 'A4', 'A7'],
 ['A7'],
 ['A1'],
 ['A3'],
 ['A7'],
 ['A5'],
 ['A5'],
 ['A4'],
 ['A1'],
 ['A1'],
 ['A5'],
 ['A3'],
 ['A5'],
 ['A4'],
 ['A4'],
 ['A5'],
 ['A7'],
 ['A1', 'A5'],
 ['A7'],
 ['A3'],
 ['A7'],
 ['A5'],
 ['A4'],
 ['A7'],
 ['A4'],
 ['A1'],
 ['A5'],
 ['A1'],
 ['A3'],
 ['A1', 'A5'],
 ['A3'],
 ['A1', 'A4'],
 ['A7'],
 ['A1'],
 ['A5'],
 ['A1', 'A4'],
 ['A1'],
 ['A7'],
 ['A3', 'A3'],
 ['A2'],
 ['A6'],
 ['A6'],
 ['A7', 'A1'],
 ['A3'],
 ['A1'],
 ['A5'],
 ['A5'],
 ['A1'],
 ['A7', 'A1'],
 ['A3'],
 ['A3'],
 ['A5'],
 ['A3'],
 ['A5'],
 ['A1', 'A1', 'A7'],
 ['A4'],
 ['A1', 'A3', 'A1'],
 ['A1'],
 ['A6'],
 ['A3'],
 ['A2', 'A2', 'A1', 'A5'],
 ['A7'],
 ['A5'],
 ['A6', 'A6'],
 ['A5', 'A4'],
 ['A1', 'A3'],
 ['A3', 'A3', 'A1'],
 ['A6'],
 ['A4', 'A2', 'A7'],
 ['A1'],
 ['A2'],
 ['A1'],
 ['A1'],
 ['A7', 'A5', 'A1'],
 ['A1'],
 ['A1'],
 ['A6'],
 ['A3', 'A5', 'A7'],
 ['A3', 'A3'],
 ['A5'],
 ['A7'],
 ['A1'],
 ['A2'],
 ['A1'],
 ['A5'],
 ['A2'],
 ['A1', 'A1'],
 ['A1', 'A5'],
 ['A4', 'A7', 'A6', 'A5'],
 ['A1'],
 ['A7'],
 ['A5', 'A5'],
 ['A5'],
 ['A3'],
 ['A6'],
 ['A5', 'A3'],
 ['A7'],
 ['A5'],
 ['A1'],
 ['A1'],
 ['A4'],
 ['A5'],
 ['A3'],
 ['A7'],
 ['A5'],
 ['A3', 'A7'],
 ['A1', 'A1'],
 ['A7'],
 ['A2'],
 ['A5'],
 ['A5'],
 ['A5'],
 ['A2'],
 ['A7'],
 ['A4'],
 ['A3'],
 ['A5'],
 ['A1', 'A1'],
 ['A1'],
 ['A6'],
 ['A3', 'A3'],
 ['A1'],
 ['A1', 'A5', 'A5'],
 ['A1'],
 ['A3'],
 ['A6'],
 ['A1', 'A5'],
 ['A3', 'A3'],
 ['A1', 'A4'],
 ['A1', 'A1'],
 ['A1'],
 ['A2'],
 ['A5'],
 ['A7', 'A3'],
 ['A2'],
 ['A6'],
 ['A6'],
 ['A5'],
 ['A1'],
 ['A5'],
 ['A1', 'A1'],
 ['A3'],
 ['A6'],
 ['A7'],
 ['A5', 'A5'],
 ['A5'],
 ['A7'],
 ['A5'],
 ['A5'],
 ['A3'],
 ['A4'],
 ['A3', 'A3'],
 ['A7', 'A1'],
 ['A2', 'A1'],
 ['A1', 'A4'],
 ['A2', 'A5'],
 ['A7'],
 ['A1'],
 ['A7', 'A1'],
 ['A7'],
 ['A1'],
 ['A5'],
 ['A7'],
 ['A7'],
 ['A7'],
 ['A6'],
 ['A5'],
 ['A7'],
 ['A3'],
 ['A5'],
 ['A4'],
 ['A1'],
 ['A5'],
 ['A1', 'A3'],
 ['A1', 'A5'],
 ['A7'],
 ['A5'],
 ['A7', 'A6'],
 ['A5'],
 ['A2'],
 ['A1', 'A1'],
 ['A1', 'A5', 'A5'],
 ['A1'],
 ['A1'],
 ['A1'],
 ['A5'],
 ['A7'],
 ['A6', 'A5'],
 ['A1', 'A5'],
 ['A7'],
 ['A5'],
 ['A1'],
 ['A5'],
 ['A7'],
 ['A1'],
 ['A3', 'A3'],
 ['A6'],
 ['A5'],
 ['A5'],
 ['A2'],
 ['A1'],
 ['A6'],
 ['A5'],
 ['A1', 'A5'],
 ['A6'],
 ['A5'],
 ['A1'],
 ['A5'],
 ['A6'],
 ['A5'],
 ['A6'],
 ['A7'],
 ['A5'],
 ['A4'],
 ['A7'],
 ['A7'],
 ['A5'],
 ['A7', 'A4'],
 ['A7'],
 ['A2'],
 ['A1'],
 ['A5'],
 ['A4'],
 ['A1'],
 ['A2'],
 ['A5'],
 ['A7'],
 ['A5'],
 ['A7'],
 ['A7'],
 ['A5'],
 ['A1'],
 ['A4'],
 ['A5'],
 ['A6'],
 ['A4'],
 ['A6'],
 ['A2'],
 ['A1', 'A3'],
 ['A1'],
 ['A7', 'A6'],
 ['A5'],
 ['A2'],
 ['A2'],
 ['A5'],
 ['A5'],
 ['A1'],
 ['A6'],
 ['A1'],
 ['A1'],
 ['A5'],
 ['A1'],
 ['A6'],
 ['A4'],
 ['A5'],
 ['A1'],
 ['A2'],
 ['A2'],
 ['A1'],
 ['A6'],
 ['A2'],
 ['A1'],
 ['A1', 'A2', 'A1'],
 ['A7'],
 ['A5'],
 ['A1'],
 ['A7'],
 ['A2', 'A7'],
 ['A4'],
 ['A3'],
 ['A5'],
 ['A4'],
 ['A1'],
 ['A5'],
 ['A5'],
 ['A1'],
 ['A1', 'A1'],
 ['A5'],
 ['A1'],
 ['A5'],
 ['A2'],
 ['A5'],
 ['A5'],
 ['A1'],
 ['A3'],
 ['A3'],
 ['A7'],
 ['A7'],
 ['A5'],
 ['A2'],
 ['A1'],
 ['A6'],
 ['A1'],
 ['A4'],
 ['A1'],
 ['A7'],
 ['A7'],
 ['A7'],
 ['A4'],
 ['A1'],
 ['A2'],
 ['A1'],
 ['A7'],
 ['A4', 'A3'],
 ['A1'],
 ['A1'],
 ['A5'],
 ['A1'],
 ['A1', 'A3'],
 ['A1'],
 ['A1'],
 ['A7'],
 ['A6'],
 ['A6'],
 ['A6'],
 ['A7'],
 ['A2'],
 ['A6'],
 ['A7'],
 ['A2', 'A2'],
 ['A2', 'A7'],
 ['A7'],
 ['A5'],
 ['A1'],
 ['A1', 'A5'],
 ['A5'],
 ['A1'],
 ['A2'],
 ['A1'],
 ['A4'],
 ['A7'],
 ['A4'],
 ['A5'],
 ['A1'],
 ['A1'],
 ['A5'],
 ['A1'],
 ['A1'],
 ['A3'],
 ['A6'],
 ['A6'],
 ['A4'],
 ['A5'],
 ['A4'],
 ['A1'],
 ['A6'],
 ['A7'],
 ['A1'],
 ['A1', 'A1'],
 ['A1'],
 ['A1'],
 ['A6'],
 ['A6', 'A1'],
 ['A1'],
 ['A2'],
 ['A4'],
 ['A2'],
 ['A2', 'A1'],
 ['A7'],
 ['A2'],
 ['A3'],
 ['A2', 'A1'],
 ['A1', 'A3', 'A3'],
 ['A6'],
 ['A3'],
 ['A1'],
 ['A7'],
 ['A5'],
 ['A5'],
 ['A5', 'A3'],
 ['A5'],
 ['A7'],
 ['A1'],
 ['A3', 'A3'],
 ['A6', 'A7'],
 ['A6', 'A6'],
 ['A1'],
 ['A5'],
 ['A5'],
 ['A5'],
 ['A7'],
 ['A1'],
 ['A1'],
 ['A2'],
 ['A5'],
 ['A7', 'A1'],
 ['A1', 'A3'],
 ['A1'],
 ['A1'],
 ['A3'],
 ['A1', 'A1'],
 ['A7'],
 ['A6'],
 ['A7'],
 ['A4'],
 ['A4'],
 ['A6'],
 ['A6'],
 ['A4'],
 ['A2'],
 ['A5'],
 ['A3'],
 ['A6'],
 ['A1'],
 ['A1'],
 ['A5'],
 ['A4'],
 ['A1'],
 ['A5'],
 ['A5'],
 ['A1', 'A7'],
 ['A2'],
 ['A7'],
 ['A1', 'A4'],
 ['A1'],
 ['A2'],
 ['A1'],
 ['A4'],
 ['A6'],
 ['A7'],
 ['A1'],
 ['A1'],
 ['A3'],
 ['A2'],
 ['A4'],
 ['A2'],
 ['A5'],
 ['A5'],
 ['A6'],
 ['A6'],
 ['A1'],
 ['A6'],
 ['A2', 'A5'],
 ['A1'],
 ['A7'],
 ['A1'],
 ['A1'],
 ['A1'],
 ['A4', 'A1'],
 ['A1'],
 ['A6'],
 ['A5'],
 ['A7'],
 ['A1'],
 ['A1'],
 ['A7'],
 ['A5'],
 ['A2'],
 ['A2'],
 ['A7'],
 ['A1'],
 ['A1', 'A7'],
 ['A7'],
 ['A6'],
 ['A1', 'A3'],
 ['A7'],
 ['A3'],
 ['A2'],
 ['A4'],
 ['A1', 'A1'],
 ['A2'],
 ['A3'],
 ['A5'],
 ['A7'],
 ['A7'],
 ['A5'],
 ['A5'],
 ['A5'],
 ['A1'],
 ['A3'],
 ['A5'],
 ['A2'],
 ['A1'],
 ['A1'],
 ['A1'],
 ['A1', 'A5'],
 ['A4'],
 ['A6'],
 ['A5'],
 ['A4', 'A1'],
 ['A3'],
 ['A5'],
 ['A1'],
 ['A5'],
 ['A1'],
 ['A1'],
 ['A1'],
 ['A7'],
 ['A1'],
 ['A3'],
 ['A1'],
 ['A1'],
 ['A1'],
 ['A7'],
 ['A7'],
 ['A6'],
 ['A7'],
 ['A6'],
 ['A1'],
 ['A1'],
 ['A7'],
 ['A1'],
 ['A1'],
 ['A7', 'A4'],
 ['A2'],
 ['A2'],
 ['A2'],
 ['A1'],
 ['A1'],
 ['A2'],
 ['A1'],
 ['A7'],
 ['A7'],
 ['A3'],
 ['A1', 'A1'],
 ['A1'],
 ['A4', 'A1'],
 ['A1'],
 ['A3'],
 ['A3'],
 ['A3'],
 ['A1'],
 ['A1', 'A1'],
 ['A1'],
 ['A4', 'A3'],
 ['A1'],
 ['A1'],
 ['A7'],
 ['A3'],
 ['A1'],
 ['A1'],
 ['A1'],
 ['A5'],
 ['A3'],
 ['A4'],
 ['A3'],
 ['A5'],
 ['A7'],
 ['A6'],
 ['A5'],
 ['A2'],
 ['A3'],
 ['A1'],
 ['A2'],
 ['A1'],
 ['A6', 'A6'],
 ['A3'],
 ['A1'],
 ['A5'],
 ['A4', 'A7'],
 ['A1'],
 ['A5'],
 ['A3'],
 ['A1'],
 ['A1'],
 ['A1'],
 ['A5'],
 ['A1'],
 ['A5'],
 ['A2'],
 ['A1', 'A1'],
 ['A3'],
 ['A4'],
 ['A1'],
 ['A1', 'A3'],
 ['A5'],
 ['A1'],
 ['A2'],
 ['A4'],
 ['A2'],
 ['A5'],
 ['A3', 'A7', 'A1'],
 ['A1'],
 ['A7'],
 ['A6', 'A6'],
 ['A5'],
 ['A5', 'A7'],
 ['A7'],
 ['A1'],
 ['A1', 'A2', 'A7'],
 ['A5', 'A3', 'A3'],
 ['A1'],
 ['A3'],
 ['A1'],
 ['A6'],
 ['A5'],
 ['A1'],
 ['A1'],
 ['A5'],
 ['A2'],
 ['A3'],
 ['A2', 'A1'],
 ['A1'],
 ['A1'],
 ['A1', 'A2'],
 ['A2'],
 ['A7'],
 ['A2'],
 ['A2'],
 ['A2'],
 ['A4'],
 ['A1'],
 ['A7'],
 ['A7'],
 ['A1'],
 ['A4'],
 ['A4'],
 ['A2'],
 ['A1'],
 ['A4'],
 ['A6'],
 ['A3', 'A3'],
 ['A4', 'A7'],
 ['A7'],
 ['A6'],
 ['A1'],
 ['A7'],
 ['A1'],
 ['A5'],
 ['A7'],
 ['A1'],
 ['A4'],
 ['A6'],
 ['A2'],
 ['A4'],
 ['A1'],
 ['A1'],
 ['A1'],
 ['A2'],
 ['A2'],
 ['A1', 'A5'],
 ['A7', 'A5'],
 ['A6'],
 ['A6', 'A6'],
 ['A3'],
 ['A5'],
 ['A3'],
 ['A1'],
 ['A1'],
 ['A2'],
 ['A2', 'A5'],
 ['A1'],
 ['A5'],
 ['A5'],
 ['A2', 'A1'],
 ['A3'],
 ['A1'],
 ['A4'],
 ['A6'],
 ['A7'],
 ['A5'],
 ['A7'],
 ['A5'],
 ['A4'],
 ['A6'],
 ['A4'],
 ['A1'],
 ['A5'],
 ['A2'],
 ['A1'],
 ['A1'],
 ['A2'],
 ['A6'],
 ['A1'],
 ['A1'],
 ['A1'],
 ['A7'],
 ['A5'],
 ['A1'],
 ['A1'],
 ['A1', 'A7'],
 ['A1'],
 ['A1'],
 ['A7'],
 ['A2', 'A7'],
 ['A6'],
 ['A7'],
 ['A1'],
 ['A5'],
 ['A2'],
 ['A1'],
 ['A1', 'A1'],
 ['A7'],
 ['A7'],
 ['A6'],
 ['A1'],
 ['A5'],
 ['A5'],
 ['A3'],
 ['A1'],
 ['A1'],
 ['A4', 'A5'],
 ['A5'],
 ['A1'],
 ['A3'],
 ['A4'],
 ['A4', 'A4'],
 ['A2', 'A2'],
 ['A1'],
 ['A6', 'A6', 'A5', 'A7'],
 ['A4'],
 ['A1'],
 ['A1', 'A1'],
 ['A2'],
 ['A1', 'A7'],
 ['A1'],
 ['A4'],
 ['A2'],
 ['A1', 'A4'],
 ['A1'],
 ['A1'],
 ['A4'],
 ['A1'],
 ['A1', 'A5'],
 ['A7'],
 ['A4'],
 ['A6'],
 ['A4'],
 ['A3'],
 ['A1'],
 ['A7'],
 ['A1'],
 ['A1'],
 ['A1'],
 ['A7'],
 ['A7'],
 ['A5'],
 ['A7'],
 ['A7'],
 ['A7'],
 ['A1'],
 ['A6'],
 ['A7'],
 ['A7'],
 ['A6'],
 ['A1'],
 ['A5'],
 ['A1'],
 ['A5'],
 ['A1', 'A4'],
 ['A4', 'A3'],
 ['A5'],
 ['A1'],
 ['A1', 'A3'],
 ['A4'],
 ['A1'],
 ['A1'],
 ['A2'],
 ['A7'],
 ['A5'],
 ['A1'],
 ['A1'],
 ['A1'],
 ['A1'],
 ['A6'],
 ['A7'],
 ['A7'],
 ['A7'],
 ['A5'],
 ['A1'],
 ['A1'],
 ['A2'],
 ['A5'],
 ['A1'],
 ['A1'],
 ['A4'],
 ['A2'],
 ['A1'],
 ['A4'],
 ['A2'],
 ['A7'],
 ['A6'],
 ['A7'],
 ['A7'],
 ['A6'],
 ['A1'],
 ['A6'],
 ['A5'],
 ['A1'],
 ['A2'],
 ['A2', 'A1'],
 ['A5'],
 ['A1'],
 ['A7'],
 ['A2'],
 ['A2'],
 ['A7'],
 ['A5'],
 ['A1'],
 ['A7'],
 ['A4'],
 ['A1'],
 ['A6'],
 ['A1'],
 ['A1'],
 ['A6'],
 ['A7'],
 ['A6'],
 ['A1'],
 ['A1'],
 ['A6'],
 ['A3'],
 ['A1'],
 ['A4'],
 ['A3'],
 ['A1'],
 ['A1'],
 ['A5'],
 ['A7'],
 ['A6'],
 ['A7'],
 ['A1'],
 ['A1'],
 ['A7'],
 ['A1'],
 ['A1'],
 ['A3'],
 ['A7'],
 ['A2'],
 ['A5'],
 ['A1', 'A4', 'A7'],
 ['A1'],
 ['A1'],
 ['A1'],
 ['A7'],
 ['A7', 'A5'],
 ['A2', 'A1'],
 ['A4', 'A1'],
 ['A4'],
 ['A1'],
 ['A6'],
 ...]

In [6]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
te_ary

array([[False, False, False, ..., False, False, False],
       [False, False,  True, ..., False, False, False],
       [False, False, False, ..., False, False,  True],
       ...,
       [False,  True, False, ..., False, False, False],
       [False, False, False, ...,  True, False, False],
       [ True, False, False, ..., False, False, False]])

In [7]:
te.columns_

['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7']

In [8]:
df = pd.DataFrame(te_ary, columns = te.columns_)
df

          A1     A2     A3     A4     A5     A6     A7
0      False  False  False   True  False  False  False
1      False  False   True  False  False  False  False
2      False  False  False  False  False  False   True
3      False  False   True  False  False  False  False
4       True   True  False  False  False  False  False
...      ...    ...    ...    ...    ...    ...    ...
78117  False   True  False  False  False  False  False
78118  False   True  False  False  False  False   True
78119  False   True  False   True  False  False  False
78120  False  False  False  False   True  False  False
78121   True  False  False  False  False  False  False

[78122 rows x 7 columns]

In [31]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support = 0.01)

     support itemsets
0   0.293771      (0)
1   0.120389      (1)
2   0.124446      (2)
3   0.112580      (3)
4   0.168442      (4)
5   0.094455      (5)
6   0.228758      (6)
7   0.013441   (0, 1)
8   0.010202   (0, 3)
9   0.018983   (0, 6)
10  0.012967   (1, 6)
11  0.012212   (3, 6)

In [32]:
frequent_itemsets = apriori(df, min_support = 0.01, use_colnames = True)
frequent_itemsets

     support  itemsets
0   0.293771      (A1)
1   0.120389      (A2)
2   0.124446      (A3)
3   0.112580      (A4)
4   0.168442      (A5)
5   0.094455      (A6)
6   0.228758      (A7)
7   0.013441  (A2, A1)
8   0.010202  (A4, A1)
9   0.018983  (A1, A7)
10  0.012967  (A2, A7)
11  0.012212  (A4, A7)

In [34]:
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets, metric = 'confidence', min_threshold = 0.1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(A2),(A1),0.120389,0.293771,0.013441,0.111643,0.380033,-0.021926,0.794983
1,(A2),(A7),0.120389,0.228758,0.012967,0.107709,0.470842,-0.014573,0.864339
2,(A4),(A7),0.112580,0.228758,0.012212,0.108471,0.474173,-0.013542,0.865078