In [1]:
# -*- coding: utf-8 -*-
"""
Created on Tue Dec 28 15:58:09 2021

@author: USER
"""
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

dataset = pd.read_csv('regdes.csv')
X = dataset['X'].values
y = dataset['Y'].values
dataset.head(15)

     X    Y
0    1  1.0
1    2  1.2
2    3  1.4
3    4  1.1
4    5  1.0
5    6  5.5
6    7  6.1
7    8  6.7
8    9  6.4
9   10  6.0
10  11  6.0
11  12  3.0
12  13  3.2
13  14  3.1
14  15  3.0

In [2]:

X_train=X
y_train=y
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(min_samples_split=4, min_samples_leaf=4)
regressor.fit(X_train.reshape(-1,1), y_train.reshape(-1,1))

DecisionTreeRegressor(min_samples_leaf=4, min_samples_split=4)

In [3]:
y_pred = regressor.predict(X_train.reshape(-1,1))
print(y_pred)
# draw the regression tree
from sklearn.tree import export_graphviz

with open("bigdataregressionTree.dot", 'w') as f:
    f = export_graphviz(regressor, out_file=f)
# 1. 在电脑上安装 graphviz
# 2. 运行 `dot -Tpng titanic.dot -o titanic.png`

[1.14       1.14       1.14       1.14       1.14       6.11666667
 6.11666667 6.11666667 6.11666667 6.11666667 6.11666667 3.075
 3.075      3.075      3.075     ]