In [2]:
# -*- coding: utf-8 -*-
"""
Created on Tue Dec 28 15:58:09 2021

@author: USER
"""
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

dataset = pd.read_csv('one_level_tree.csv')
X = dataset['X'].values
y = dataset['R'].values

dataset.head(5)

    X   R
0   5 -52
1   7 -54
2  12 -31
3  23 -16
4  25  38

In [1]:
X_train=X
y_train=y
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(max_depth=1)
regressor.fit(X_train.reshape(-1,1), y_train.reshape(-1,1))

y_pred = regressor.predict(X_train.reshape(-1,1))
print(y_pred)

[-38.25 -38.25 -38.25 -38.25  25.5   25.5   25.5   25.5   25.5   25.5 ]